{% from "macros/general.twig" import timeago_element, opt_query %}

<script type="module" src="/static/js/component/FileTable.js"></script>
<script type="module" src="/static/js/component/UploadDropper.js"></script>
<script type="module" src="/static/js/component/Uploader.js"></script>

<div class="uk-clearfix">
    <!-- Breadcrumbs -->
    <ul class="uk-breadcrumb uk-float-left" id="browse-breadcrumbs">
        <li><a href="{{ files.base }}"><i uk-icon="server"></i></a></li>
        {% for segment in files.breadcrumbs %}
            <li><a href="{{ files.base }}/{{ segment.path }}">{{ segment.name }}</a></li>
        {% endfor %}
    </ul>

    <!-- Options dropdown -->
    <button class="uk-button uk-button-default uk-button-small uk-float-right">View Options <i uk-icon="chevron-down"></i></button>
    <div uk-dropdown="mode:click; duration: 60">
        <ul class="uk-nav uk-dropdown-nav">
            {% if hidden_enabled %}
            <li>
                {% if files.showing_deleted %}
                    <a href="?deleted=0"><i uk-icon="trash"></i> Hide deleted</a>
                {% else %}
                    <a href="?deleted=1"><i uk-icon="trash"></i> Show deleted</a>
                {% endif %}
            </li>
            <li class="uk-nav-divider"></li>
            {% endif %}
            <li class="uk-nav-header">View style</li>
            <li><a href="?view=table"><i uk-icon="list"></i> Table</a></li>
            <li><a href="?view=tiled"><i uk-icon="thumbnails"></i> Grid</a></li>
        </ul>
    </div>
</div>

<!-- Toolbar -->
<div id="file-actions" class="toolbar">
    <button class="uk-button uk-button-default" id="action-upload" disabled><i uk-icon="upload"></i>Upload</button>
    <button class="uk-button uk-button-default" id="action-new-folder" disabled><i uk-icon="folder"></i>New</button>
    <button class="uk-button uk-button-default" id="action-paste" disabled><i uk-icon="pull"></i>Paste<span></span></button>
    <div uk-dropdown="mode:hover; duration: 60">
        <ul class="uk-nav uk-dropdown-nav"></ul>
    </div>
    <span id="selected-file-actions" class="toolbar-group"></span>
</div>

<!-- Uploads -->
{% if 'C' in exports.CURRENT_PERMISSIONS or 'W' in exports.CURRENT_PERMISSIONS %}
    <div ac-upload-dropper="dragTargets:.files-main,.files-share"
         id="upload-drop" class="uk-text-center">
        <input id="upload-form" type="file" multiple style="display:none">
        <i uk-icon="cloud-upload"></i>Upload files by dropping them here
    </div>
    <div ac-upload-status uk-grid
         id="upload-status" class="uk-grid-small uk-grid-match uk-child-width-1-3@s uk-child-width-1-4@m"></div>
{% endif %}

<!-- Files -->
<table ac-file-table
       id="file-list-table" class="uk-table uk-table-hover uk-table-striped view-{{ files.view }}">
    <thead>
        <tr>
            <th>Name</th>
            <th class="uk-width-1-5">Modified</th>
            <th class="uk-width-1-6">Size</th>
        </tr>
    </thead>
    <tbody>
        {% for file in files.list %}
            <tr data-sortable-row="{{ file|json_encode }}" class="{{ file.deleted ? 'row-deleted' : '' }}">
                <td>
                    <i uk-icon="{{ file.icon }}"></i>
                    <a class="file-link" href="{{ files.base }}/{{ file.path }}">{{ file.name }}</a>
                    {%- if file.isShared %} <i uk-icon="link"></i>{% endif -%}
                    {% if not file.isFolder %}
                        <div class="thumbnail-container">
                            <img data-src="/index.php/core/preview?fileId={{ file.id }}&x=256&y=256{{ opt_query(exports.SHARE_TOKEN, 'share') }}">
                        </div>
                    {% endif %}
                </td>
                <td>{{ timeago_element(file.modified) }}</td>
                <td{% if file.isFolder %} class="uk-text-muted"{% endif %}>{{ file.size| filesize }}</td>
            </tr>
        {% endfor %}
    </tbody>
    {% if not files.list %}
        <tfoot><tr><td colspan="4">Empty.</td></tr></tfoot>
    {% endif %}
</table>
